/*  */
.form{
    width: 100%;
    height: 40vh;
    display: flex ;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: auto;
    box-shadow: 10p 10px 10px 10px rgba(0, 0, 0, 0.627);
    padding: 20px 30px;
    border-radius: 10px;
}
.form-div{
    margin: 10px;
}

.form-label{
 padding-right:  10px;
}
.form-filed{
 border: 1px solid rgba(0, 0, 0, 0.437);
 border-radius: 6px;
 padding: 10px 20px;
 outline: none;
}
.submit-btn{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: 30vh;
}